services:
  db:
    image: postgres:16
    container_name: hotel_db
    environment:
      POSTGRES_USER: bryancmy
      POSTGRES_PASSWORD: pastuso2002elp*
      POSTGRES_DB: hotel_saas
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: